@charset "utf-8";
html {
  font-size: 62.5%;
}

body {
  background-color: #efe8d9;
  font-size: 1.4rem;
  font-family: 'Verdana', 'Hiragino Sans', sans-serif;
  color: #000;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 4.5rem;
}

h2 {
  font-size: 2.8rem;
}

div {
  display: flex;
}

.theme {
  justify-content: center;
  align-items: center;
  margin: 40px;
}

textarea {
  width: 80rem;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  color: #fff;
  background-color: #121212;
  height: 35px;
  margin: 2rem;
  border-radius: 5px;
}

.error {
  display: none;
  justify-content: flex-start;
  background-color: red;
  margin: 5px;
  padding: 3px;
  border-radius: 0;
  width: fit-content;
  height: auto;
}

input[type="submit"] {
  padding: 10px;
}

.createPost {
  display: block;
  margin-left: 10%;
}

.setUsername {
  margin-bottom: 10px;
  align-items: center;
}

#username {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 1.5;
  padding-left: 5px;
}

.separator {
  margin: 20px 0;
  border-top: 2px solid #ccc;
}

.posts {
  margin-left: 10%;
  flex-direction: column;
}

ul {
  list-style: none;
  width: 90%;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

li span {
  font-size: 1.5rem;
  word-break: break-all;
  min-width: 10ch;
}

.postContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.postText {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}

.postText .time {
  white-space: nowrap;
  min-width: 20ch;
}

.postText .userName {
  padding-right: 1rem;
}

.postText .postNum {
  min-width: 3ch;
}

.editUserName {
  border: #000 solid 1px;
  border-radius: 5px;
}

.editButton {
  background: #0000ff;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  flex: none;
  margin-right: 3px;
}

.saveButton {
  background: #1d6c29;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  flex: none;
  margin: 0 3px;
}

.cancelButton {
  background: #f9c121;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  flex: none;
}

.deleteButton {
  background: red;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  flex: none;
}

#paginationContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

#paginationContainer button {
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  padding: 15px 0;
  cursor: pointer;
  min-width: 40px;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}

#paginationContainer button:hover:not(:disabled):not(.active) {
  background-color: #f0f0f0;
}

#paginationContainer button.active {
  background-color: #333;
  color: white;
  cursor: default;
}

#paginationContainer button:disabled {
  opacity: 0.4;
  cursor: default;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.active {
  background-color: #fff;
  color: #121212;
  border: none;
}

@media screen and (max-width: 800px) {
  div {
    flex-direction: column;
  }

  .setUsername {
    flex-direction: row;
  }

  textarea {
    width: 80%;
    height: 100%;
  }

  p {
    height: auto;
    margin: 1rem 0;
    text-align: center;
  }

  input[type="submit"] {
    width: 80%;
    height: auto;
    padding: 1rem;
    white-space: normal;
    font-size: 1.2rem;
  }

  .saveButton .cancelButton {
    margin-top: 10px;
  }

  #paginationContainer {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 20px;
  }

  #pagination {
    display: block;
    flex-wrap: wrap;
  }
  #pagination button { 
    margin: 5px;
  }

  .postContent {
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    width: 25%;
  }

  label {
    font-size: 1rem;
  }

  input[type="text"] {
    width: 35%;
    font-size: 1rem;
  }

  input[type="submit"] {
    width: 70%;
    font-size: 1rem;
  }

  .deleteButton {
    font-size: 1rem;
    margin: 1px;
  }

  .editButton {
    font-size: 1rem;
    margin: 1px;
  }

  .cancelButton {
    font-size: 1rem;
    margin: 1px;
  }

  .saveButton {
    font-size: 1rem;
    margin: 1px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }
}